<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.mapbazar.mapbazar">

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@drawable/add_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <!-- <intent-filter android:label="@string/app_name"> -->
        <!-- <action android:name="android.intent.action.VIEW" /> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- <category android:name="android.intent.category.BROWSABLE" /> -->
        <!-- &lt;!&ndash; Accepts URIs that begin with "http://www.example.com/gizmos” &ndash;&gt; -->
        <!-- &lt;!&ndash;            <data android:scheme="https"&ndash;&gt; -->
        <!-- &lt;!&ndash;                android:host="www.mapbazar.com"&ndash;&gt; -->
        <!-- &lt;!&ndash;                android:pathPrefix="/mapbazar" />&ndash;&gt; -->
        <!-- &lt;!&ndash; note that the leading "/" is required for pathPrefix&ndash;&gt; -->
        <!-- </intent-filter> -->
        <activity android:name=".VerficationActivity" />
        <activity android:name=".ActivitySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Intro_Viewpager_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ActivityLoginRegister"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivitySubCategory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityCategoryProduct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityProductDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityCart"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityMatchProductDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityRecentlyProductDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".ActivityOrderDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductImagepager"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewProductImagepager"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MatchProductImagepager"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RecentProductImagepager"
            android:screenOrientation="portrait" />
        <activity android:name=".ProductFilter" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ActivityAddAddress" />
        <activity android:name=".ActivityPayment" />
        <activity android:name=".ActivityThank" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>